project:
  type: website
  output-dir: docs

website:
  title: "Ammar Sabir Cheema"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - resources.qmd

format:
  html:
    theme: 
      light: minty
      dark: solar
    css: styles.css
    page-layout: full

